

@import "../../vendor/less/bootstrap/variables.less";

// -- Application specific variables ----
@log-width-small: 400px;
@log-width-large: 550px;

// -- Bootstrap variables ---
@navbar-default-bg: #D4C7BB;
@font-family-sans-serif: 'Open Sans';
@font-family-monospace: 'Source Code Pro';
@body-bg: #DAD7CC;
@progress-bg: rgba(0, 0, 0, 0.2);
@progress-bar-bg: rgba(0, 0, 0, 0.2);
@text-color: #272727;
@text-muted: #8F857A;
@panel-bg: #C3B9AC;
@panel-default-text: @text-color;
@panel-default-heading-bg: #D3CABE;
@panel-default-border: #C9D3C9;
@list-group-bg: transparent;
@list-group-hover-bg: rgba(255, 255, 255, 0.2);
@list-group-border: #BCAEA7;
@list-group-link-heading-color: rgba(0, 0, 0, 0.8);
@list-group-link-color: rgba(0, 0, 0, 0.5);
@modal-content-bg: @panel-bg;
@modal-header-border-color: @list-group-border;
@input-bg: rgba(0, 0, 0, 0.1);
@input-color-placeholder: rgba(0, 0, 0, 0.3);
@btn-default-bg: #AA9999;
@btn-default-color: @text-color;
@btn-default-border: rgba(255, 255, 255, 0.1);
@link-hover-color: darken(@link-color, 15%);

// -- Theme variables
@box-shadow-color: #DAD7CC;
@webkit-scrollbar-track-bg-color: #D4C7BB;
@webkit-scrollbar-thumb-bg-color: rgba(0, 0, 0, 0.2);
@webkit-scrollbar-button-bg-color: rgba(255, 255, 255, 0.2);
@webkit-scrollbar-corner-bg-color: white;

// -- Theme variables for staging component --
@staging-bg-color: #9BC5BB;
@staging-box-shadow-color: #DAD7CC;
@staging-color: #475A5A;
@staging-form-control-diabled-bg-color: rgba(191, 219, 212, 0.75);
@staging-arrow-down-border-color: rgb(156, 198, 188);
@staging-validationError-color: #29ABD2;
@staging-diffContainer-bg-color: rgba(0, 0, 0, 0.1);
@staging-discard-color: rgba(0, 0, 0, 0.3);
@staging-discard-hover-bg-color: #fff;
@staging-discard-hover-color: rgba(0, 0, 0, 0.9);
@staging-ignore-color: rgba(0, 0, 0, 0.3);
@staging-ignore-hover-bg-color: #AAAA00;
@staging-ignore-hover-color: rgba(0, 0, 0, 0.9);
@staging-patch-bg-color: #D86EDB;
@staging-patch-color: rgba(0, 0, 0, 0.9);
@staging-files-showingDiffs-color: #fff;
@staging-files-showingDiffs-bg-color: rgba(0, 0, 0, 0.1);
@staging-files-name-color: rgba(0, 0, 0, 0.8);
@staging-files-additions-color: #949494;
@staging-files-deletions-color: #7B7B7B;
@staging-files-conflicts-color: #DB12C0;
@staging-files-markresolved-color: #DB12C0;
@staging-files-markresolved-hover-color: #000;
@staging-files-markresolved-hover-bg-color: #A445ED;
@staging-files-launchmergetool-color: #DB55FF;
@staging-files-launchmergetool-hover-color: #000;
@staging-files-launchmergetool-hover-bg-color: #A477FF;
@staging-checkmark-color: #fff;

// -- Theme variables for stash component --
@stash-bg-color: #AACDC3;

// -- Theme variables for generic.less --
@generic-form-control-color: rgba(0, 0, 0, 0.8);
@generic-list-group-item-bg-color: rgba(255, 255, 255, 0.09);
@generic-hr-border-color: rgba(0, 0, 0, 0.1);
@generic-droparea-bg-color: #D4B3A3;

// -- Theme variables for styles.less --
@styles-glyphicon-circled-border-color: #979797;
@styles-ui-autocomplete-bg-color: rgba(55, 45, 25, 1);
@styles-ui-autocomplete-box-shadow-color: rgba(255, 255, 255, 0.2);
@styles-ui-autocomplete-a-color: rgba(255, 255, 255, 0.6);
@styles-ui-autocomplete-focus-bg-color: rgba(244, 229, 204, 1);
@styles-ui-autocomplete-focus-color: #000;

// -- Theme variables for commit.less
@commit-highlighted-box-shadow-color: rgba(255, 255, 255, 0.2);
@commit-highlighted-bg-color: #B4A899;
@commit-highlighted-arrow-border-color: #B5A99A;
@commit-selected-diff-wrapper-box-shadow-color: rgba(255, 255, 255, 0.15);
@commit-selected-diff-inner-box-shadow-color: rgba(255, 255, 255, 0.2);
@commit-box-shadow-border-color: #E1DFD6;
@commit-box-arrow-border-color: #C4BAAD;
@commit-box-color: #706059;
@commit-box-bg-color: #B4A899;

// -- Theme variables for commitdiff.less
@commitdiff-file-bg-color: rgba(0, 0, 0, 0.16);
@commitdiff-file-head-color: rgba(0, 0, 0, 0.79);
@commitdiff-file-addition-color: #640C56;
@commitdiff-file-deletion-color: #13626C;
@commitdiff-diff-bg-color: rgba(255, 255, 255, 0.11);
@commitdiff-diff-color: rgba(0, 0, 0, 0.3);
